.cover_image {
    width: 100%;
    height: 290px;
    overflow: hidden;
    background-image: url('../../assets/images/home-cover.jpg');
    background-size: cover;
    text-align: center;
}
.home_section {
    flex-wrap: wrap;
}
.heading{
    width: 100%;
    padding: 3rem;
}
.hr{
    background-color: #FFFaaa;
}

.home_products_section {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
  
.display_viewall {
    display: flex;
    justify-content: flex-end;
}
  
  
@media only screen and (max-width: 720px) {
    .heading{
        margin: 0rem;
        padding: 1rem;
    }
      
}