.searchbox {
    border-radius: 0.35rem;
    width: 40%;
    margin-top: 200px;
}

.searchbox button {
    border-radius: 0;
    border-bottom-right-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    border-left: 0px !important;
}

.searchbox input {
    border-radius: 0;
    border-bottom-left-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
    border-left: 0px !important;
}

.mobile_searchbar {
    display: none;
}

.web_searchbar {
    visibility: visible;
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .mobile_searchbar {
        margin-top: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .3rem;
        width: 100%;
    }

    .mobile_searchbar button {
        border-radius: 0;
        border-bottom-right-radius: .3rem;
        border-top-right-radius: .3rem;
        border-left: 0px !important;
    }

    .mobile_searchbar input {
        border-radius: 0;
        border-bottom-left-radius: 0.3rem;
        border-top-left-radius: 0.3rem;
        border-left: 0px !important;
    }

    .searchbox_mobile {
        width: 90%;
        margin-bottom: 2rem;
        border-radius: .3rem;
    }

    .web_searchbar {
        display: none;
    }
}