.cart_container {
    width: 100%;
    color: #1f553e;
    padding: 1rem 5%;
}

.header_name {
    padding: 1rem 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.cart_container .my_cart {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.my_cart .old_price {
    color: #c4c4c4;
    text-decoration: line-through;
    font-size: 20px;
}

.my_cart .discount {
    color: #26a541;
    font-size: 16px;
}

.my_cart .price {
    font-size: 20px;
}

.my_cart .price_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: fit-content;
}

.details_container {
    width: 60%;
    padding-right: 2rem;
}

.cart_products {
    border: 1px solid #1f553e;
    border-radius: 0.5rem;
    width: 100%;
}

.vertical_line {
    border-bottom: 1px solid #1f553e;
}

.row_container {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.row_detail {
    height: 10rem;
    padding: 1rem;
}

.cart_product {
    border-bottom: 1px solid #1f553e;
}

.cart_container .product_image {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
}

.cart_container .product_image img {
    width: 10rem;
    height: 8rem;
    overflow: hidden;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid #C4C4C4;
}

.cart_container .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 2rem;
    padding: 0 1rem;
}

.cart_container .product_name {
    width: 100%;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
    margin-top: 0.2rem;
    text-transform: capitalize;
}

.product_count {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 0.3px solid gainsboro;
    border-radius: .3rem;
}

.product_count button:focus,
.product_count button:active {
    outline: none;
    border: none;
}
.quantity_delete_card{
    display: flex;
    align-items: center;
}
.quantity_delete_card div:last-child{
    padding-left: 40px;
}
.plus,
.minus {
    background-color: white;
    color: #1f553e;
    width: 30px;
    text-align: center;
    border-radius: .6rem;
    outline: none;
    border: none;
}
.remove_icon{
    cursor: pointer;
}
.remove_icon:active{
    color: #1f553e;
    opacity: .5;
}
.counter {
    margin: 0 0.5rem;
}

.checkout_web {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.checkout_web button {
    margin: 1rem;
    color: #ffffff;
    background-color: #1f553e;
    border-radius: 1.5rem;
    border: 1px solid #1f553e;
    border-radius: 1.5rem;
    width: 30%;
    height: 40px;
    outline: none;
}
.checkout_web button:active {
    color: #1f553e;
    background-color: #ffffff;
}
.checkout_web button:focus{
    outline: none;
}


.price_container {
    width: 40%;
    padding: 0 2rem;
}

.display_save {
    color: #26a541;
    font-size: 14px;
    text-align: center;
}


.checkout_mobile {
    display: none;
}

.cart_container a {
    color: white;
    font-style: normal;
}

.products_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 0 .5rem;
}

@media only screen and (max-width: 720px) {
    .products_section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 1rem;
        padding: 0 0rem;
    }

    .cart_container {
        padding: 0;
    }

    .cart_container .my_cart {
        display: flex;
        flex-direction: column;
    }

    .header_name {
        display: none;
    }

    .cart_container .price_container {
        display: none;
    }

    .my_cart .price_section {
        width: 100%;
    }

    .cart_container .product_image {
        width: 7rem;
        height: 7rem;
    }

    .row_detail {
        height: fit-content;
        padding: 1rem;
    }

    .cart_container .product_image img {
        width: 7rem;
        height: 7rem;
        overflow: hidden;
        object-fit: cover;
        border-radius: .5rem;
        border: 1px solid #1f553e;
    }

    .cart_container .details_container {
        width: 100%;
        margin-right: 0rem;
        padding-right: 0rem;
    }

    .cart_container .cart_products {
        width: 100%;
        border: 0px solid #1f553e;
    }

    .cart_container .cart_product {
        border-bottom: none;
        border-top: 1px solid #1f553e;
    }

    .cart_container .details {
        margin-left: 1.5rem;
        margin-right: 0rem;
        max-height: 6rem;
    }

    .my_cart .old_price {
        font-size: 15px;
    }

    .my_cart .discount {
        font-size: 12px;
    }

    .my_cart .price {
        font-size: 15px;
    }

    .checkout_web {
        display: none;
    }

    .checkout_mobile {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .checkout_mobile button {
        margin-top: 2rem;
        color: #ffffff;
        background-color: #1f553e;
        border-radius: 1.5rem;
        border: 1px solid #1f553e;
        border-radius: 1.5rem;
        width: 70%;
        height: 40px;
        outline: none;
    }
    .checkout_mobile button:active {
        color: #1f553e;
        background-color: #ffffff;
    }
    .checkout_mobile button:focus{
        outline: none;
    }
}