.main_product {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.carousel{
    width: 50%;
}
.mobile_card{
    display: none;
}
.main_product .product_details_container {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.web_card{
    display: block;
}
.product_title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: #1F553E;
}
.product_category, .code_section{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #1F553E;
    margin-top: 1rem;
}

.product_details_container .price_container_product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.product_details_container .price {
    font-size: 1.625rem;
    padding-right: 1.5rem;
    font-weight: 400;
    line-height: 1.7rem;
}
.product_details_container .old_price {
    color: #c4c4c4;
    text-decoration: line-through;
    font-size: 1.125rem;
    padding-right: 1.5rem;
}
.product_details_container .discount {
    color: #26a541;
    font-size: 16px;
    text-align: center;
}
.shipping_checkout{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-top: 1rem;
}
.color_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}
.outer_layer{
    margin-right: 0.5rem;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border_line{
    border-radius: 50%;
    padding: 3px !important;
    border: 2px solid black !important;
}
.border_dotted{
    padding: 3px !important;
    border-radius: 50%;
    border: 2px dotted black !important;
}
.product_details_container .sizes {
    border: 1px solid #1f553e;
    border-radius: 0.5rem;
    width: fit-content;
    margin-right: 0.5rem;
    background-color: white;
    color: #1f553e;
    height: 2rem;
    text-align: center;
}
.size_container {
    font-size: 15px;
    margin: 0.5rem 0;
}
.sizes {
    border: 1px solid #1f553e;
    border-radius: 0.5rem !important;
    width: fit-content;
    margin-right: 0.5rem;
    background-color: white;
    color: #1f553e;
    height: 2rem;
    text-align: center;
}
.circle_button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.color_container {
    font-size: 16px;
}
.product_details_container .product_count{
    border: 1px solid #1f553e;
    border-radius: 0.5rem;
    width: fit-content;
    margin: 1rem 0;
    padding: .3rem .6rem;
}

.product_details_container .product_view_more{
    text-decoration: underline;
    color: #1F553E;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1rem;
    cursor: pointer;
}
.display_btns_container{
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: end;
    margin-bottom: 3rem;
}

.add_cart_btn, .buy_now_btn{
    width: 40%;
    margin: 2px;
}
.buy_now_btn button {
    color: #1f553e;
    background-color: white;
    border: 1px solid #1f553e;
    border-radius: 3.25rem;
    width: 100%;
    height: 40px;
    margin-left: 1rem;
}

.add_cart_btn button {
    background-color: #1f553e;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 3.25rem;
    outline: none;
    border: 1px solid transparent;
    margin-right: 1rem;
}
.add_cart_btn button:focus, .buy_now_btn button:focus{
    outline: none;
}
  
.add_cart_btn button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.buy_now_btn button:active{
    color: #FFFFFF;
    background-color: #1f553e;
} 
.display_btns .buy_now_btn {
    border-radius: 0.5rem;
    width: 100%;
    margin: 0 .1rem;
}
.product_details_images{
    display: flex;
    justify-content: center;
    width: 90%;
}
@media only screen and (max-width: 720px) {
    .main_product {
        padding: 1rem;
        flex-direction: column;
        width: 100%;
    }
    .web_card{
        display: none;
    }
    .mobile_card{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .carousel{
        width: 100%;
    }
    .main_product .product_details_container {
        padding: .5rem;
        width: 100%;
    }
    .product_details_container .price_container_product{
        width: 100%;
    }
    .product_details_images{
        width: 100%;
    }
    .display_btns_container{
        width: 100%;
        flex-direction: column;
        padding-right: 0;
        padding: 1rem;
    }
    .add_cart_btn, .buy_now_btn{
        width: 100%;
        margin-top: 2px;
    }
    .add_cart_btn button{
        height: 40px;
    }
    .buy_now_btn button{
        margin-left: 0;
        height: 40px;
    }
    .main_product .product_details_container {
      width: 100%;
    }
}