.tabs_web_card {
    width: 90%;
    min-height: 25rem;
    margin: 3rem 0;
    border: 1px solid #1F553E;
    border-radius: 10px;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabs>div {
    width: 25%;
    height: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #1F553E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 1px solid #FFFFFF;
}

.tabs .active {
    color: #1F553E;
    background: #FFFFFF;
    z-index: 3;
}

.tabs div b.left_curve {
    position: absolute;
    bottom: 0px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #fff;
    display: none;
}

.tabs div b.left_curve::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #1F553E;
}

.tabs div b.right_curve {
    position: absolute;
    right: -20px;
    top: 0px;
    height: 100%;
    width: 20px;
    background: #fff;
    display: none;
}

.tabs div b.right_curve::before {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    border-bottom-left-radius: 20px;
    background: #1F553E;
}

.tabs div.active b.left_curve,
.tabs div.active b.right_curve {
    display: block;
}

.tabs div:first-child.active:before,
.tabs div:last-child.active:after {
background: #222;
}
.tabs div:first-child.active b.left_curve{
    display: none;
}
.tabs div:last-child.active b.right_curve{
    display: none;
}
.tabs>div:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
}

.tabs>div:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-right: none;
}
.tab_content{
    padding: 5rem;
}
.review_card{
    width: 80%;
    border-radius: 10px;
    border: 1px solid #1F553E;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2rem;
}
.review_avg_card{
    width: 40%;
    color: #1F553E;
}
.review_avg_val{
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 1rem;
}
.review_avg_card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}
.review_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.review_line .progress_line{
    width: 70%;
}
.review_des{
    width: 60%;
}
.star{
    width: 10%;
    height: 30px;
    color: #1F553E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star div{
    padding: 2px 2px 0 2px;
}
.review_count{
    width: 20%;
    height: 30px;
    color: #1F553E;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tabs_mobile_view_card{
    display: none;
}
@media only screen and (max-width: 720px) {
    .tabs_web_card {
        display: none;
    }
    .tabs_mobile_view_card{
        margin-top: 1rem;
        display: block;
        width: 100%;
        border-bottom: 1px solid #1F553E;
    }
    .tabs_header{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        background: #1F553E;
    }
    .tabs_header_label{
        width: 80%;
    }
    .prev, .next{
        width: 20%;
        color: #FFFFFF;
    }
    .slideshow {
        margin: 0 auto;
        overflow: hidden;
        max-width: 500px;
    }
  
    .slideshowSlider {
        white-space: nowrap;
        transition: all 1500ms;
    }
  
    .slide {
        display: inline-block;
        height: 25rem;
        width: 100%;
        border-radius: 40px;
    }
    .slide img{
        width: 100%;
        height: 25rem !important;
        object-fit: contain;
    }
    .slideshowDots {
        text-align: center;
    }
  
    .slideshowDot {
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        cursor: pointer;
        margin: 15px 7px 0px;
        background-color: #c4c4c4;
    }
    .tab_content{
        padding: 1rem;
        white-space: pre-wrap;
    }
    .review_card{
        width: 100%;
        border-radius: 10px;
        border: 1px solid #1F553E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 2rem;
    }
    .review_avg_card{
        width: 100%;
        color: #1F553E;
    }
    .review_avg_val{
        font-weight: 400;
        font-size: 35px;
        line-height: 41px;
        text-align: center;
        margin-bottom: 1rem;
    }
    .review_avg_des{
        width: 100%;
        display: block;
        text-align: center;
    }
    .review_avg_card p {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin: 0;
        margin-bottom: 1rem;
        display: inline;
        padding: 3px;
    }
    .review_line{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .review_line .progress_line{
        width: 70%;
    }
    .review_des{
        width: 100%;
    }
    .star{
        width: 10%;
        height: 30px;
        color: #1F553E;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .star div{
        padding: 2px 2px 0 2px;
    }
    .review_count{
        width: 20%;
        height: 30px;
        color: #1F553E;
        padding-left: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}