.review_page {
  margin: 2rem 0;
}
.row_container{
  display: flex;
  flex-direction: row;
} 
.review_header{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}  
.review_label{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 0;
}
.review_page .display_info {
  width: 40%;
  margin-top: 2rem;
  padding: 0 2.5rem 0 5rem;
}
.display_card, .child_card{
  border: 1px solid #1f553e;
  border-radius: 0.25rem;
}
.child_card label{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.review_page .submit_review {
  width: 60%;
  margin-top: 2rem;
  padding: 0 5rem 0 2.5rem;
}
.dashed_outline {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #1f553e;
  border-radius: 0.5rem;
  border-style: dashed;
  margin: .5rem 0;
}
.file_upload{
display: flex;
width: 25%;
}
.bscamera{
width: 4rem;
height: 4rem;
}
.dashed_outline input {
display: none; 
}
.dashed_outline input:focus {
display: none;
color: inherit 
}
.submit_review .review_btn {
width: 40%;
}
.row{
width: 100%;
height: 4rem;
display: flex;
flex-direction: row;
}
.col{
  width: 20%;
  position: relative;
}
.remove_icon{
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;  
  color: red;
}
.selected_image_card{
  width: 100%;
  height: 100%;
}
.selected_image_card img{
width: 100%;
height: 100%;
object-fit: cover;
}

.review_body textarea {
width: 100%;
border-radius: 0.5rem;
padding: 10px 10px;
outline: none;
}
.bck_page_icon{
display: none;
}

.display_web_title{
margin-bottom: 1.5rem;
}
.review_btn button{
  background-color: #1f553e;
  color: white;
  height: 40px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 3.125rem;
  outline: none;
}
.review_btn button:focus{
  outline: none;
}

.review_btn button:active {
  color:#1f553e;
  background-color: #FFFFFF;
  border: 1px solid #1f553e;
}

@media only screen and (max-width: 720px) {
  .review_page {
      margin: 0.5rem 0;
  }
  .display_info {
      display: none;
  }
  .review_page .submit_review {
      padding: 0 0.5rem 0 0.5rem;
    }
  .review_page .outline {
      border: 0px solid #1f553e;
  }
  .display_card, .child_card{
      border: none;
      border-radius: none;
  }
  .review_page .submit_review {
      width: 100%;
      margin-top: 0rem;
      margin-left: 0rem;
  }
  .submit_review .bck_page_icon {
      display: flex;
  }

  .submit_review .display_web_title {
      display: none;
  }
  .submit_review .dashed_outline {
      width: 100px;
      height: 100px;
  }
  .bck_page_icon a{
      margin-left: -2rem;
  }
  .display_mobile_title{
      padding-left: 1rem;
  }
  .review_btn button {
      height: 40px;
  }
  .submit_review .review_btn {
    width: 50%;
  }
}