.main_container{
    width: 100%;
    margin-top: 2rem;
}
.complaint_form {
    width: 50%;
    padding-right: 2rem;
}
.faq_container_web{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.complaint_card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_container{
    width: 90%;
    height: 1.625rem;
    margin: auto;
}
.complaint_title {
    font-size: large;
    font-weight: 600;
}

.title {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

.complaint_card {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 50px;
}

.complaint_page {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.complaint_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.complaint_page .complaint {
    display: flex;
    flex-direction: row;
    border: 1px solid #1f553e;
    border-radius: 0.25rem;
}

.complaint_page a {
    color: #1f553e !important;
}

.input_container .input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #1F553E;
    border-radius: .625rem;
}

.input_container .input:focus {
    outline: none;
}
.input::placeholder, .textarea::placeholder {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.12rem;
    color: #ACABAB;
}

.complaint_page .textarea {
    width: 100%;
    height: 10rem;
    border: 1px solid #1F553E;
    border-radius: 0.625rem;
    padding: 1rem;
}

.complaint_page .textarea {
    outline: none;
}

.submit_btn {
    width: 50% !important;
    margin: auto;
    border-radius: 0.25rem;
    margin-top: 3rem;
}

.complaint_page a {
    color: white;
}

.bck_page_icon{
    display: none;
}
.submit_btn button {
    background-color: #1f553e;
    color: white;
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3.125rem;
}
.submit_btn button:focus{
    outline: none;
}
  
.submit_btn button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.faq_container_mobile{
    display: none;
}
@media only screen and (max-width: 720px) {
    .complaint_page {
        width: 80%;
        display: flex;
        flex-direction: row;
    }
    .complaint_form {
        width: 100%;
        padding-right: 0;
    }
    .title{
        margin-top: 2rem;
    }
    
    .heading_container{
        width: 100%;
        height: 1.625rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .complaint_page {
        display: flex;
        flex-direction: column;
    }

    .complaint_page .complaint_form {
        width: 100%;
    }

    .bck_page_icon {
        display: inline-block;
        margin: 0 1rem;
    }
    .submit_btn{
        width: 80% !important;
        margin-top: 1.5rem;
    }
    .submit_btn button{
        border-radius: 3.125rem;
    }
    .faq_container_web{
        display: none;
    }
    .faq_container_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 0rem;
    }
}