.detail_card{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.first_col{
    width: 50%;
    border: 1px solid #d1cbcb;
    margin: 1rem;
    padding: .5rem;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
}
.second_col{
    position: relative;
    width: 50%;
    height: 17rem;
}

.response_card{
    padding: 0 2rem;
    margin: 0.5rem;
}
.replyCard{
    position: absolute;
    width: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
}
.reply_btn{
    width: 100%;  
    display: flex;
    position: absolute;
    bottom: -10px;
    margin-top: 10px;
}
.reply_btn button{
    width: 20%;
    height: 30px;
    margin: auto;
}
.cd_row{
    display: flex;
}

.cd_w{
    width: 30%;
    display: block;
}
.cd_th{
    height: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #1F553E;
    margin: .5rem .5rem .5rem 0;
}
.cd_td{
    width: 70%;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #1F553E;
    margin: .5rem 0rem;
}
.cd_td_light{
    font-size: 15px !important;
    line-height: 16px !important;
}
.cd_th, .cd_td{
    font-style: normal;
    text-align: left;
}

.cd_input_box{
    width: 100%;
    height: 14rem;
    opacity: .8;
    border: 1px solid #d1cbcb;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.cd_input{
    padding: 15px;
    outline: none;
    border: none;
}
.cd_input:focus{
    color: #1F553E;
    outline: none;
    border: none;
}
.cd_input::placeholder { 
    height: 15px;
    color: #c4bbbb;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.cd_text_underline{
    line-height: 16px !important;
    text-decoration-line: underline;
}
.cd_italic{
    font-style: italic;
}

.cd_description_box{    
    width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 15px;
    margin-top: 20px;
}
.submit_btn{
    background: #FFFFFF;
    border: 1px solid #1F553E;
    color: #1F553E;
    border-radius: 50px;
}

.submit_btn:active{
    color: #FFFFFF;
    background: #1F553E;
}
@media only screen and (max-width: 720px) {
    .detail_card{
        width: 100%;
        min-height: 7rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        margin-bottom: 1rem;
    }
    .first_col{
        width: 100%;
        margin: 1rem 0rem;
        border-radius: 0.313rem;
    }
    .second_col{
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0.313rem;
        height: 12rem;
    }
    .replyCard{
        padding: 0rem;
    }
    .reply_btn{
        bottom: 0px;
    }
    .reply_btn button{
        width: 50%;
        margin-bottom: 1rem;
    }
    .response_card{
        padding: 1rem;
        margin: 0;
    }
    .cd_input_box{
        width: auto;
        height: 107px;
    }   
}