.main_container{
    width: 100%;
    margin-top: 2rem;
}

.heading_container{
    width: 90%;
    height: 1.625rem;
    margin: auto;
}

.msg {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
    width: 70%;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.4rem;
}

.nxt_page_icon {
    width: 25%;
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}

.prev_complaints {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

.prev_title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.complaint {
    width: 100%;
    margin-bottom: 10px;
}
.complaint_card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1f553e;
    border-radius: 10px;
}
.complaint_info {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.show{
    border: 1px solid #1f553e;
    border-top: none;
    border-radius: none;
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius:.625rem;
    margin-top: -1rem;
}
.hide{
    display: none;
}
.complaint_action {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.complaint_status {
    width: auto;
    height: 1.5rem;
    text-align: center;
    margin: auto;
    font-size: 10px;
    border-radius: 5px;
    padding: 2px 3px;
}

.complaint .nxt_page_icon {
    margin-left: 1rem;
    margin-top: 0rem;
}
.bck_page_icon {
    display: none;
}
.display_btn{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.display_btn button{
    width: 40%;
    border-radius: 3.125rem;
}

@media only screen and (max-width: 720px) {
    .heading_container{
        width: 100%;
        height: 1.625rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .complaint_card{
        border: none;
    }
    .msg {
        word-wrap: break-word;
        width: 70%;
        margin-top: 0.5rem;
    }

    .bold {
        font-weight: normal;
    }

    .nxt_page_icon {
        justify-content: center;
        width: fit-content;
    }
    .complaint_title {
        font-size: large;
        font-weight: 600;
    }

    .bck_page_icon {
        display: inline-block;
        margin: 0 1rem;
    }

    .complaint:first-child {
        border-top: 1px solid #1f553e;
    }
    .display_btn button{
        width: 60%;
        border-radius: 3.125rem;
    }
    .complaint {
        width: 100%;
        border-top: 1px solid #1f553e;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }

    .prev_title {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .complaint:last-child {
        border-bottom: 1px solid #1f553e;
    }

    .prev-complaints {
        width: 100%;
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .show{
        border: none;
        border-top: 1px solid #1f553e;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: -1rem;
    }
}