.help_page {
    margin-top: 2rem;
    padding: 0 4rem;
}
.help_container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.display_info {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.display_btn{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: end;
    align-items: center;
}
.display_btn button {
    background-color: #1f553e;
    color: white;
    height: 40px;
    width: 50%;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3.125rem;
}
.display_btn button:focus{
    outline: none;
}
  
.display_btn button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.my_orders_section {
    margin-top: 1rem;
}

.page_container {
    margin: auto;
}

.support_icon {
    width: fit-content;
}

.help_msg {
    margin-top: 2rem;
    width: 100%;
}

.msg {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
    width: 70%;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.4rem;
}

.issue_label {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
}
.issue_label_faq{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
}
.issue_message {
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nxt_page_icon {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.complaint_action .nxt_page_icon_resolved span{
    width: 25%;
}
.bck_page_icon {
    display: none;
}

.prev_complaints {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prev_title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.complaint_card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1f553e;
    border-radius: 10px;
}
.show{
    border: 1px solid #1f553e;
    border-top: none;
    border-radius: none;
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius:.625rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.hide{
    display: none;
}
.complaint_info {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.complaint_action {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.complaint_status {
    width: auto;
    height: 1.5rem;
    text-align: center;
    margin: auto;
    font-size: 10px;
    border-radius: 5px;
    padding: 2px 3px;
}

.complaint .nxt_page_icon {
    margin-left: 1rem;
    margin-top: 0rem;
}

.help_center_messages_child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #1f553e;
    border-left: 1px solid #1f553e;
    border-right: 1px solid #1f553e;
    padding: 0 1rem;
}

.help_center_messages_child:first-child {
    border: 1px solid #1f553e;
    border-bottom: none;
    border-radius: .625rem .625rem 0 0;
}

.help_center_messages_child:last-child {
    border: 1px solid #1f553e;
    border-radius: 0 0 .625rem .625rem;
}
.orders_card .product_image {
    width: 20%;
    min-height: 9rem;
    padding: .5rem;
}
.orders_card .product_image img {
    width: 15rem;
    height: 9rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: .625rem;
}
  
.orders_card {
    cursor: pointer;
    margin: 0.5rem 0;
}
.orders_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #1f553e;
    border-left: 1px solid #1f553e;
    border-right: 1px solid #1f553e;
}
.orders_container:first-child{
    border-top: 1px solid #1f553e;
    border-radius: .625rem .625rem 0 0;
}
.orders_container:last-child{
    border-bottom: 1px solid #1f553e;
    border-radius: 0 0 .625rem .625rem;
}
.orders_card .product_details {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 75%;
    display: flex;
    flex-direction: row;
}
.orders_card .order_name {
    width: 33%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}
.orders_card .price {
    width: 33%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1F553E;
}
.orders_card .status {
    width: 33%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
}
.view_more_card{
    display: none;
}
.right_arrow_card{
    display: none;
} 
@media only screen and (max-width: 720px) {
    .show{
        border: 1px solid #1f553e;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: none;
        margin-top: -1rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
    .help_page {
        padding: 0 0rem;
        width: 100%;
        color: #1f553e;
        margin: auto;
        margin-top: 1rem;
    }
    .help_container{
        flex-direction: column;
    }
    .help_title{
        padding-left: 0.5rem;
    }
    .display_btn{
        margin: 1rem 0;
        width: 100%;
        justify-content: center;
    }
    .display_btn button{
        width: 60%;
        border-radius: 3.125rem;
    }
    .display_info {
        width: 100%;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-top: 0.5rem;
    }
    .support_icon {
        width: fit-content;
    }

    .support_icon img {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        overflow: hidden;
    }

    .msg {
        word-wrap: break-word;
        width: 70%;
        margin-top: 0.5rem;
    }

    .issue_label {
        font-size: 1.2rem;
        font-weight: normal;
        margin-bottom: 0;
        padding-left: 0.5rem
    }

    .issue_message {
        width: 75%;
        margin-top: .5rem;
        margin-bottom: .5rem;
        font-weight: normal;
        font-size: 12px;
    }
    .issue_message label{
        margin-bottom: 0;
    }
    .bold {
        font-weight: normal;
    }

    .nxt_page_icon {
        justify-content: center;
        width: fit-content;
    }

    .bck_page_icon {
        display: flex;
        margin-top: .5rem;
        width: 10%;
        justify-content: flex-start;
    }

    .complaint:first-child {
        border-top: 1px solid #1f553e;
    }

    .complaint {
        width: 100%;
        border-top: 1px solid #1f553e;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }

    .prev_title {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .complaint:last-child {
        border-bottom: 1px solid #1f553e;
    }

    .prev-complaints {
        width: 100%;
        margin-left: 0rem;
        margin-top: 2rem;
    }

    .help_center_messages_child {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: none;
        border-top: 1px solid #1f553e;
    }

    .help_center_messages_child:first-child {
        border: none;
        border-top: 1px solid #1f553e;
        border-radius: 0 0 0 0;
    }

    .help_center_messages_child:last-child {
        border: none;
        border-top: 1px solid #1f553e;
        border-bottom: 1px solid #1f553e;
        border-radius: 0 0 0 0;
    }
    .orders_card .product_image {
        width: 40%;
        min-height: 8rem;
        padding: .5rem;
    }
    .orders_section_container{
        padding-top: .5rem;
        border-top: 1px solid #1f553e; 
    }
    .orders_card{
        border: none;
    }
    .orders_container {
        border: none;
        border-bottom: 1px solid #1f553e;
        border-radius: 0rem;
    }
    .orders_container:first-child{
        border-radius: 0;
    }
    .orders_container:last-child{
        border-radius: 0;
    }
    .orders_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .orders_card .product_image img {
        width: 100%;
        height: 7rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1rem;
    }

    .orders_card .product_details {
      display: flex;
      flex-direction: column;
      width: 55%;
      margin-top: .5rem;
      margin-left: .5rem;
    }
    .orders_card .order_name {
      width: 100%;
    }
    .orders_card .status {
      width: 100%;
      font-size: 12px;
    }
    .orders_card .seller {
      margin-top: 0rem;
      font-size: 14px;
    }
    .orders_card .price {
      font-size: 12px;
      display: none;
    }
    .right_arrow_card{
        display: block;
        width: 5%;
    }
    .view_more_card{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        border-bottom: 1px solid #1f553e;
        padding-bottom: .5rem;
    }
    .view_more_card .view_more{
        font-size: .8rem;
        font-weight: 700;
        line-height: 1rem;
    }
    .complaint_card{
        border:none;
    }
    .prev_complaints {
        margin-top: 1rem;
    }
}