.policy_container{
    max-width: 560px;
    max-width: 65ch;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    color: #1f553e;
}
.policy_title{
    text-align: center;
}
.policy_body{}
.policy_body_inner{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 1.5;
}
.table_wrapper {
    max-width: 100%;
    overflow: auto;
}
.table_wrapper table {
    border-collapse: separate;
    text-indent: initial;
    width: 100%;
    border-spacing: 1px;
    position: relative;
    border: 0 none;
    background: #e8e8e1;
}
.table_wrapper th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}
.table_wrapper td, th {
    border: 0 none;
    text-align: left;
    padding: 10px 15px;
    background: #f7f7f7;
}
.table_wrapper th, .table__title {
    font-weight: 700;
}