
.address_form {
    width: 100%;
    margin-top: 2rem;
}
.address_form input {
    width: 48%;
    border-radius: 0.5rem;
    border: 1px solid #1f553e;
    height: 40px;
    margin: .5rem 0;
    padding: 0 0.5rem;
}
.address .icon {
    padding: 10px;
    min-width: 40px;
}
.btn_div{
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.update_btn{
    width: 48%;
}
.cancel_btn{
    width: 48%;
}
.update_btn button, .cancel_btn button {
    margin-top: 1rem !important;
    width: 100%;
    height: 40px;
    border-radius: 3.25rem;
    outline: none;
    border: 1px solid transparent;
}
.cancel_btn button{
    background-color: #FFFFFF !important;
    color: #1f553e !important;
    border: 1px solid #1f553e;
}
.update_btn button {
    background-color: #1f553e;
    color: white;
}
.update_btn button:focus{
    outline: none;
}
.update_btn button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.address_form textarea {
    border-radius: 0.5rem;
    border: 1px solid #1f553e;
    width: 48%;
    margin: .5rem 0;
    padding: 0 0.5rem;
}
.main_card{
    width: 100%;
    min-height: 70vh;
}
.cart_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem !important;
}
.cart_container .details_container{
    width: 66%;
    padding: 0 3rem;
}
.cart_container .price_container{
    width: 34%;
    padding: 0 3rem;
}
.address_form_inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.address_form_inputs_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}
.input_address{
    width: 100% !important;
}
.edit_button{
    width: 10%;
}
.add_buttons{
    width: 100%;
    display: flex;
}
.add_address_btn{
    width: 50%;
    padding: 0 1rem;
    margin: 0 1rem;
}
.deliver_btn{
    width: 50%;
    padding: 0 1rem;
    margin: 0 1rem;
}
.add_address_link{
    display: none;
}
@media only screen and (max-width: 720px) {
    .edit_button{
      width: 10%;
    }
    .address_form textarea {
      width: 100%;
    }
    .address_page .address_form {
      width: 100%;
    }
    .address_form_inputs_column{
        width: 100%;
    }
    .address_form_inputs {
        flex-direction: column;
    }
    .address_form input {
      width: 100%;
      margin-top: 1rem;
    }
    .cart_container .price_container{
      display: none;
    }
    .btn_div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .update_btn, .cancel_btn {
        width: 100%;
    }
}
  