.cart_product_value {
}

.outline_order_summary {
    border: 1px solid #1f553e;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.order_summary {
    padding: .5rem;
}

.outline {
    border: 1px solid #1f553e;
    border-radius: 1rem;
}
.product_price{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.product_price_style{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.cal_step{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
}
.row_container {
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0;
}

.price_details_name {
    font-weight: bold;
    text-transform: capitalize;
    padding: 1rem 2rem;
}

.totalAmount {
    font-weight: bold;
    text-transform: capitalize;
}

.price_details_card {
    border-top: 1px solid #1f553e;
    border-bottom: 1px solid #1f553e;
    padding: 1rem 2rem;
}

.common_style {
    padding: 1rem 2rem;
}

.cart_product_value .price_details {
    width: 100%;
}

.cart_product_value .product_price {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    font-weight: bolder;
}

.cart_product_value .price_label {
    width: 50%;
}

.display_save {
    color: #26A541;
    border-top: 1px solid #1f553e;
    padding: 1rem 2rem;
}

.discount_code_card {
    margin-top: 1rem;
}

.discount_code_card input {
    height: 3rem;
    border: 1px solid #1F553E;
    border-radius: 1rem;
}

.discount_code_card input:focus {
    outline: none;
}

.apply_btn {
    display: flex;
    width: 60%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.apply_btn button {
    color: #ffffff;
    background-color: #1f553e;
    border-radius: .5rem;
    border: 1px solid #1f553e;
    width: 30%;
    height: 3rem;
    outline: none;
    padding: .5rem 1rem;
}
.apply_btn button:active {
    color: #1f553e;
    background-color: #ffffff;
}
.apply_btn button:focus{
    outline: none;
}


.cart_product_value input {
    border: 1px solid #1f553e;
    border-radius: 0.25rem;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .cart_product_value {
        width: 100%;
    }
}