.details_section {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    color: #1f553e;
    font-weight: 400;
}
.carousel_img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}
.color_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 0;
}
.color_container:first-child{
    margin-left: 1rem;
}
.outer_layer{
    margin-right: 0.5rem;
    margin-left: .5rem;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border_line{
    border-radius: 50%;
    padding: 3px !important;
    border: 2px solid black !important;
}
.border_dotted{
    padding: 3px !important;
    border-radius: 50%;
    border: 2px dotted black !important;
}
  
.product_detail_container .product_image {
    margin-top: 1rem;
    box-shadow: initial;
    border-radius: 0.1rem;
    width: 100%;
    text-align: center;
}
.product_detail_container .product_images_container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}
.product_card{
    width: 100%;
    height: 75%;
    min-height: 30rem;
    max-height: 30rem;
    display: flex;
    flex-direction: row;
}
.product_detail_container .product_images {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.product_detail_container .product_cover_image {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0.5rem;
}
.product_details {
    flex-direction: column;
    margin-left: 3rem;
    width: 30%;
}
.rating_section {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f553e;
    width: fit-content;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    border-radius: 5px;
    color: white;
    padding: .5rem .3rem;
}
.ratings div{
    padding-right: 2px;
}
.product_count{
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    border-radius: 0.313rem;
    width: 97.53px;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.minus, .plus, .counter{
    padding: .4rem;
}
.counter{
    color: #1f553e;
}
.minus, .plus{
    cursor: pointer;

}
.product_name{
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    text-transform: capitalize;
    margin-top: 1rem;
}
.rating_review {
    color: #837f7f;
    font-size: 14px;
    width: 100%;
    display: inline;
    white-space: nowrap;
    margin-left: 0.5rem;
}
.category_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.8rem 0;
}
.category_name{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-decoration: underline;
}
.verified {
    margin-left: 1rem;
    border: 1px solid #1f553e;
    border-radius: 0.313rem;
    box-shadow: 1px 1px #888888;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    width: 50px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code_section {
    font-size: 12px;
    margin: 0.5rem 0;
}
.product_detail_container .price_container_product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
}
.product_detail_container .price {
    font-size: 1.625rem;
    padding-right: 1.5rem;
    font-weight: 400;
    line-height: 1.7rem;
}
.product_detail_container .old_price {
    color: #c4c4c4;
    text-decoration: line-through;
    font-size: 1.125rem;
    padding-right: 1.5rem;
}
.product_detail_container .discount {
    color: #26a541;
    font-size: 16px;
    text-align: center;
}
.size_container {
    font-size: 15px;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}
.variant_heading, .color_heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
}
.shipping_text_card{
    margin: 0.8rem 0;
}
.sizes {
    border: 1px solid #1f553e;
    border-radius: 0.5rem;
    width: fit-content;
    margin-right: 0.5rem;
    margin-left: .5rem;
    background-color: white;
    color: #1f553e;
    height: 2rem;
    text-align: center;
    padding: 3px!important;
}

.circle_button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.color_container {
    font-size: 16px;
}

.check_btn {
    width: 50%;
}
.product_detail_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_detail_container .webview_button {
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.product_detail_container .display_info {
    width: 30%;
    margin-left: 2rem;
}
.product_detail_container .display_quantity {
    color: #e0aa07;
}
.mobileview_button {
    display: none;
}
.quality_card{
    width: 100%;
}
.add_cart_btn, .buy_now_btn{
    width: 50%;
    margin: 2px;
}
.buy_now_btn button {
    color: #1f553e;
    background-color: white;
    border: 1px solid #1f553e;
    border-radius: 0.625rem;
    width: 100%;
    height: 40px;
}
.add_cart_btn button, .btn_check_availability button {
    background-color: #1f553e;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 0.625rem;
    outline: none;
    border: 1px solid transparent;
}
.add_cart_btn button:focus, .buy_now_btn button:focus{
    outline: none;
}
  
.add_cart_btn button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.buy_now_btn button:active{
    color: #FFFFFF;
    background-color: #1f553e;
}   
.product_details_container .product_info {
    margin-top: 2rem;
}
.product_details_container .product_info_btns {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.product_info_btns button {
    display: flex;
    flex-direction: row;
    width: 80% !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 1rem;
}
.product_details_container .product_info_display {
    width: 100%;
}
.product_details_container .display_reviews {
    width: 60%;
}
.product_details_container .rating_reviews {
    width: 50%;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    word-break: break-all;
}
.product_details_container .display_comments {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
}
.availability_container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.input_check_availability{
    width: 60%;
    height: 2.5rem;
    padding: 0 1rem;
    border: 1px solid #1f553e;
    border-radius: 0.5rem;
    margin-right: 1rem;
}
.input_check_availability:focus{
    outline: none;
}
.btn_check_availability {
    width: 25%;
}
.you_may_also_like{
    margin: 3rem 0;
    width: 100%;
}
.alsoLikeContainer{
    padding: 0 3rem;
    width: 100%;
}
.products_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink:inherit;
    margin-top: 1rem;
}

@media only screen and (max-width: 720px) {
    .products_section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 1rem;
        padding: 0 0rem;
    }
    .header_name{
        margin-top: 2rem;
        text-align: center;
        text-decoration: underline;
    }
    .you_may_also_like{
        margin: 0rem;
        width: 100%;
    }
    .product_detail_container .product_images_container {
      width: 100%;
    }
    .product_card{
        width: 100%;
    }
    .product_detail_container .details_section {
      flex-direction: column;
    }
    .product_detail_container .product_images {
      display: none;
    }
    .product_detail_container .webview_button {
      display: none;
    }
    .product_details {
      flex-direction: column;
      margin-left: 0rem;
      margin-top: 1rem;
      width: 100%;
    }
    .product_detail_container .price_container_product {
      width: 80%;
    }
    .product_detail_container .sizes {
      width: fit-content;
    }
    .availability_container {
      flex-direction: column;
    }
    .input_check_availability{
        width: 100%;
    }
    .btn_check_availability {
        margin-top: 1rem !important;
        width: 100%;
    }
    .product_detail_container .display_info {
        width: 100%;
        display: flex;
        margin-left: 0rem;
        margin-top: 1rem;
    }
   
    .mobileview_button {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
    .add_cart_btn, .buy_now_btn, .btn_check_availability{
        border-radius: 3.25rem;
        height: 3rem;
        width: 100%;
        margin: 0;
    }
    .add_cart_btn button, .buy_now_btn button, .btn_check_availability button{
        border-radius: 3.25rem;
    }
    .product_detail_container .product_cover_image {
      padding: 1rem 0.5rem;
      height: 30rem;
    }
    .product_detail_container .product_cover_image img {
      width: 100%;
      height: 20rem;
      border-radius: 0.5rem;
    }
    .product_details_container .product_info {
      display: none;
    }
    .product_detail_container .price {
        font-size: 1.125rem;
    }
    .product_detail_container .old_price {
        font-size: 1.01rem;
    }
    .product_detail_container .discount {
        font-size: .8rem;
    }
    .alsoLikeContainer{
        padding: 0 0;
    }
}  