.product_list_page {
    padding: 2rem;
}

.product_list_page .title_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}
.home_product_section {
    display: grid;
    flex-direction: row;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 370px;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    justify-items: center;
}

.card_container {
    position: relative;
    width: 95%;
    height: 350px;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1%;
    cursor: pointer;
}

.product_image_container {
    height: 10rem;
    width: 100%;
    min-height: 10rem;
}

.product_image_container img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0rem;
}

.card_price_container {
    display: flex;
    flex-direction: row;
}

.card_content .price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.card_content .product_old_price {
    padding-left: 1.5rem;
    color: #c4c4c4;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: -.5rem;
}

.card_content {
    margin-top: 2rem;
    color: #1f553e;
}

.card_content .card_discount {
    color: #26a541;
    font-size: 12px;
}

.card_content .product_name {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}
.card_content .product_name p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card_content .product_shop_name {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: lowercase;
}
.card_content .product_shop_name::first-line {
    text-transform: capitalize;
}

.webview_card {
    width: 100%;
}

.card_content .label_btn {
    font-size: 10px;
}

.cart_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    padding: 0 1.5rem;
    border-radius: none;
    border-top-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    border: .5px solid #1f553e;
    text-align: center;
    background-color: #1f553e;
    color: #FFFFFF;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 720px) {
    .home_product_section {
        min-width: 1400px;
    }
    .product_list_page {
        padding: 0rem;
    }
    .list_scroll {
        width: 100%;
        overflow-y: hidden;
    }
}