.container{
    position: relative;
    width: calc(100% / 5);
    height: 350px;
    cursor: pointer;
}
.card_container {
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem;
}

.product_image_container {
    height: 10rem;
    width: 100%;
    min-height: 10rem;
}

.product_image_container img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0rem;
    padding: 0.5rem;
}
.card_price_container{
    display: flex;
    flex-direction: row;
    position: relative;
}
.card_content .card_price_card{
    width: 50%;
    position: relative;
}
.card_content .price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.card_content .product_old_price {
    padding-left: 1.5rem;
    color: #c4c4c4;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    top: 0;
    
}

.card_content {
    margin: 1rem;
    color: #1f553e;
}
.card_content .card_discount {
    color: #26a541;
    font-size: 12px;
}
.card_content .product_name {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}
.card_content .product_name p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card_content .product_shop_name {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: lowercase;
}
.card_content .product_shop_name::first-line {
    text-transform: capitalize;
}
.card_content .card_btns button {
    border-radius: 1.5rem;
    border: .5px solid #1f553e;
    text-align: center;
    background-color: #ffffff;
    color: #1f553e;
    height: 1.5rem;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
.card_content .card_btns button:first-child {
    margin: 0.5rem 6% 0.5rem 0;
}
.card_content .card_btns button:last-child {
    margin: 0.5rem 0 0.5rem 6%;
}
.card_content .card_btns button:active{
    background-color: #1f553e;
    color: #ffffff;
    outline: none;
}  
.like_btn {
    width: 10%;
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: -10px;
}

.webview_card {
    width: 100%;
}
.card_content .label_btn {
    font-size: 10px;
}
.card_content .card_btns {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 720px) {
    .container{
        width: 100%;
        height: fit-content;
        
    }
    .card_content .card_price_card{
        width: 100%;
    }
    .card_container {
        width: 100%;
        box-shadow: 0px 0px 0px -0px;
        transition: 0.5s;
        border-radius: 0rem;
        flex-direction: row;
        border-top: 1px solid #c4c4c4;
        margin: 1% 0;
        gap: 0;
    }
    .card_container:last-child{
        border-bottom: 1px solid #c4c4c4;
    }
    .product_image_container {
        height: 10rem;
        width: 50%;
        min-height: 10rem;
    }
    
    .product_image_container img {
        height: 10rem;
        width: 100%;
        object-fit: cover;
        margin-top: 1rem;
        border-radius: 1rem !important;
    }
    .card_content {
        width: 50%;
    }
    .card_content .price {
      font-size: 15px;
    }
    .card_content .product_old_price {
      font-size: 13px;
    }
    .card_content .product_name {
      font-size: 14px;
    }
    .card_content .product_category {
      font-weight: light;
      font-size: 12px;
    }
    .add_cart_icon {
      width: 30%;
    }
    .webview_card {
      width: 50%;
    }
    .card_content button {
      height: 1.5rem;
    }
    .card_content .price {
      font-size: 18px;
    }
    .card_content .product_old_price {
      font-size: 14px;
    }
}
  