.blog_cover_image img {
    height: 320px;
    width: 100%;
}

.blog_cover_image {
    width: 60%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.blog_text_heading {
    margin-top: 1rem;
    color: #1F553E;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.blog_container {
    display: flex;
    flex-direction: row;
}

.blog_page {
    padding: 3rem;
}

.blog_page .title_section {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 90%;
}

.blog_page .display_title {
    display: flex;
    width: 90%;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1rem;
    color: #1F553E;
}

.blog_content_section {
    display: flex;
    flex-direction: column;
}

.blog_image img {
    width: 80%;
    height: 95px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.display_blog {
    display: flex;
    flex-direction: row;
}

.blog_text {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #1f553e;
    word-wrap: break-word;
}

.blog_image {
    width: 50%;
}

.blog_footer {
    margin-top: .3rem;
    font-size: .8rem;
    font-weight: 300;
    color: #1f553e;
}

.row_container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 720px) {
    .blog_page {
        padding: 1rem;
    }

    .blog_container {
        overflow: auto;
        white-space: nowrap;
        flex-direction: row;
    }

    .blog_cover_image {
        display: flex;
        width: max-content;
    }

    .blog_cover_image img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }

    .blog_content_section {
        display: none;
    }

    .blog_image img {
        width: 100px;
        height: 95px;
    }

    .blog_text_heading {
        margin-top: 1rem;
        font-size: .8rem;
        line-height: .9rem;
        word-wrap: break-word;
    }

    .blog_footer {
        font-size: .6rem;
    }
}