.cart_container{
    position: relative;
    cursor: pointer;
}
.icon_button_text_right{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: red;
    color: #FFFFFF;
    position: absolute;
    right: -.3rem;
    top: -.5rem;
    font-size: .7rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}