.navbar_container {
    width: 100%;
}
  
.header {
    display: flex;
    background-color: #F3F3F3;
    width: 100%;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
  
.menu_options {
    font-weight: 400;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.menu_option span{
    cursor: pointer;
}
.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.menu_options a {
    text-decoration: none;
    color: #1f553e;
}
  
.menu_option {
    text-decoration: none;
    font-size: 1rem;
    color: #1f553e;
}
.logo {
    width: 15%;
    height: 3rem;
    margin: auto;
    cursor: pointer;
}
.header_logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    padding:3px;
}
  
.header_message {
    width: 100%;
    height: 1.25rem;
    background-color: #1f553e;
    color: #f3f3f3;
    font-size: 12px;
    text-align: center;
    padding: 2px 0;
}
  
.web_menu {
    height: 4rem;
    display: flex;
    flex: 1;
}
.mobile_menu {
    display: none;
}
.mobile_menu_icon {
    display: none;
}
.menu_option_notification{
    position: relative;
    cursor: pointer;
}
.notification_text{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.dropdown{
    display: none;
    position: absolute;
    top: 20px;
    left: -100%;
    width: 350px;
    height: 200px;
    background: transparent;
    padding-top: 0rem;
    z-index: 0;
}
.notification_text:hover .dropdown {display: block;}

.icon_button_text_right{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: red;
    color: #FFFFFF;
    position: absolute;
    right: -.4rem;
    top: -.5rem;
    font-size: .7rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 720px) {
    .web_menu {
      display: none;
    }
    .logo {
      width: 16%;
      height: 50px;
      margin: auto;
    }
   
    .mobile_menu {
        display: flex;
        flex: 1;
        width: 100%;
        position: relative;
        cursor: pointer;
    }
    .mobile_menu_icon {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        margin-right: 1.2rem;
        margin-top: 1rem;
    }
    .mobile_menu_icon a {
      color: #1f553e;
    }
    .header {
        background-color: #FFF;
    }
    .margin_right{
        margin-right: 1.5rem;
    }
    .notification_container{
        display: flex;
        flex: 1;
        width: 100%;
        position: relative;
        cursor: pointer;
    }
    .notification_container:hover{
        display: flex;
        flex: 1;
        width: 100%;
        position: relative;
        cursor: pointer;
    }
    .dropdown{
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
    }
    .mobile_menu_dropdown{
        display: flex;
        flex: 1;
        width: 94%;
        position: relative;
        cursor: pointer;
    }
}
  