.details_container {
    width: 100%;
    margin: 1rem 0;
}

.address_label_div {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #1f553e;
    color: whitesmoke;
    border-radius: 0.5rem;
    height: 35px;
}
.address_label {
    margin: auto;
    padding-left: 1rem;
    width: 90%;
}
  
.add_address_section .back_btn {
    width: 10%;
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
    margin: auto;
}

.address_form {
    width: 100%;
    margin-top: 1rem;
}
.address_form input {
    width: 48%;
    border-radius: 0.5rem;
    border: 1px solid #1f553e;
    height: 40px;
    margin: .5rem 0;
    padding: 0 0.5rem;
}
.address .icon {
    padding: 10px;
    min-width: 40px;
}
.btn_div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.shipping_btn, .cancel_btn {
    margin: auto;
    width: 49%;
    border-radius: 1.5rem;
}

.address_form textarea {
    border-radius: 0.5rem;
    border: 1px solid #1f553e;
    width: 48%;
    margin: .5rem 0;
    padding: 0 0.5rem;
}
.main_card{
    width: 100%;
    min-height: 70vh;
}
.cart_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem !important;
}
.details_container{
    width: 66%;
    padding: 0 3rem;
}
.price_container{
    width: 34%;
    padding: 0 3rem;
}
.address_form_inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.address_form_inputs_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}
.input_address{
    width: 100% !important;
}
.address_card_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 1rem;
    margin: .2rem 0;
    border-bottom: 1px solid #1f553e;
}
.radio_button{
    width: 10%;
}
.address_information_card{
    width: 80%;
}
.edit_button{
    width: 10%;
    cursor: pointer;
}
.add_buttons{
    width: 100%;
    display: flex;
}
.add_address_btn{
    width: 50%;
    padding: 0 1rem;
    margin: 0 1rem;
}
.deliver_btn{
    width: 50%;
    padding: 0 1rem;
    margin: 0 1rem;
}
.btn_div{
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.shipping_btn{
    width: 48%;
}
.cancel_btn{
    width: 48%;
}
.shipping_btn button, .cancel_btn button {
    margin-top: 1rem !important;
    width: 100%;
    height: 40px;
    border-radius: 3.25rem;
    outline: none;
    border: 1px solid transparent;
}
.cancel_btn button{
    background-color: #FFFFFF !important;
    color: #1f553e !important;
    border: 1px solid #1f553e;
}
.shipping_btn button {
    background-color: #1f553e;
    color: white;
}
.shipping_btn button:focus{
    outline: none;
}
.shipping_btn button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.add_address_link{
    display: none;
}
.add_buttons .add_address_btn{
    color: #ffffff;
    background-color: #1f553e;
}
.add_buttons button {
    width: 100%;
    color: #1f553e;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 40px;
    border: 1px solid #1f553e;
}
.shipping_btn button {
    width: 100%;
    border-radius: 1rem;
    height: 40px;
    color: #ffffff;
    background-color: #1f553e;
    border-radius: 1rem;
    border: 1px solid #1f553e;
    outline: none;
    padding: 5px 7px;
}
.shipping_btn {
    width: 45%;
}
.return_btn {
    width: 45%;
}
.return_btn button:active {
  color: #ffffff;
  background-color: #1f553e;
}
.shipping_btn button:active {
  color: #1f553e;
  background-color: #ffffff;
}
.btn_div{
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.update_btn{
    width: 48%;
}
.cancel_btn{
    width: 48%;
}
.update_btn button, .cancel_btn button {
    margin-top: 1rem !important;
    width: 100%;
    height: 40px;
    border-radius: 3.25rem;
    outline: none;
    border: 1px solid transparent;
}
.cancel_btn button{
    background-color: #FFFFFF !important;
    color: #1f553e !important;
    border: 1px solid #1f553e;
}
.update_btn button {
    background-color: #1f553e;
    color: white;
}
.update_btn button:focus{
    outline: none;
}
.update_btn button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
@media only screen and (max-width: 720px) {
    .add_address_section {
        margin-right: 0rem;
    }
    .cart_container {
      flex-direction: column-reverse;
    }
    
    .details_container {
      width: 90%;
      margin: auto;
      padding: 0rem;
    }
    .width_48{
      width: 100% !important;
    }
    .add_address_btn{
      display: none;
    }
    .deliver_btn{
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .address_card_container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 5px 1rem;
      margin: .2rem 0;
      border-bottom: 1px solid #1f553e;
    }
    .radio_button{
      width: 10%;
    }
    .address_information_card{
      width: 80%;
    }
    .edit_button{
      width: 10%;
    }
    .add_address_link{
        display: block;
        margin: .5rem 0;
        padding: .5rem 0;
        color: #1f553e;
        text-decoration: underline;
        border-top: .1px solid #1f553e;
        border-bottom: .1px solid #1f553e;
    }
    .add_address_section {
      align-items: center;
      width: 100%;
    }
    .address_form textarea {
      width: 100%;
    }
    .address_form {
      width: 100%;
    }
    .address_form_inputs_column{
        width: 100%;
    }
    .address_form_inputs {
        flex-direction: column;
    }
    .address_form input {
      width: 100%;
      margin-top: 1rem;
    }
    .price_container{
      display: none;
    }
    .btn_div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .shipping_btn, .cancel_btn {
        width: 100%;
    }
}
  