.status-container {
    width: 80%;
}

.circle {
    border-radius: 50%;
    background-color: #1f553e;
    height: 30px;
    background: #1f553e;
    color: wheat;
    width: 30px;
}

hr.line {
    border: 1px solid #1f553e;
    width: 30%;
}

.pm-color {
    background-color: #1f553e;
}

.white-color {
    background-color: white;
}

.dates {
    flex-wrap: wrap;
    text-align: center;
    width: 20%;
}

.status-mobile {
    display: none;
}


@media only screen and (max-width: 720px) {
    .status-mobile {
        display: flex;
        flex-direction: column;
    }

    .status-web {
        display: none;
    }

    .status-container {
        display: flex;
        flex-direction: row;
    }

    .vl {
        border-left: 2px solid #1f553e;
        height: 60px;
        margin-left: 1rem;
    }

    .status-mobile .order-status {
        font-size: 12px;

        display: flex;
    }

    .status-mobile .circle {
        border-radius: 50%;
        background-color: #1f553e;
        height: 30px;
        background: #1f553e;
        color: wheat;
        width: 30px;
    }
}

.status_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;

}

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 4px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1;
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #1f553e;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon {
    border-color: #1f553e;
    background-color: #1f553e;
    color: #fff
}

@media only screen and (max-width: 720px) {

    .steps .step .step-icon-wrap::before,
    .steps .step .step-icon-wrap::after {
        display: block;
        position: absolute;
        left: 50%;
        width: 4px;
        height: 50%;
        margin-left: -1px;
        background-color: #e1e7ec;
        content: '';
        z-index: 1;
    }

    .status_container {
        display: flex;
        flex-direction: column;
    }

    .status_step {
        display: flex !important;
        flex-direction: row;
    }

    .steps .step {
        margin-bottom: 0px;
        height: 100%;
        text-align: left;
    }

    .steps .step .step-icon-wrap {
        display: block;
        position: relative;
        width: 40px;
        height: 100px;
        text-align: left;
        padding-top: 10px;
    }

    .steps .step.completed .step-icon-wrap::before,
    .steps .step.completed .step-icon-wrap::after {
        background-color: #e1e7ec;
    }

    .steps .step .step-icon-wrap::before {
        top: 0
    }

    .steps .step .step-icon-wrap::after {
        bottom: 0
    }

    .steps .step .step-title {
        margin-top: 5px;
        margin-bottom: 0;
        color: #606975;
        font-size: 10px;
        font-weight: 500;
        padding-left: 40px;
    }
}