.main_container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer_section {
    color: #1f553e;
    margin-bottom: 2rem;
    width: 100%;
    margin: auto;
}
.social_links{
    cursor: pointer;
}
.footer_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.footer_social_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.footer_copy {
    width: fit-content;
    display: inline;
    margin-right: -1rem;
}

.footer_links_card {
    display: inline;
}

.footer_links_card div {
    display: inline;
    margin-left: 1rem;
}

.touch_label {
    visibility: hidden;
    font-size: 0px;
}

.footer_links a {
    text-decoration: none;
    color: #1f553e;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 720px) {
    .footer_links {
        flex-wrap: wrap;
        font-size: 12px;
        justify-content: left;
        margin-top: 0rem;
        padding: 0 1.5rem;
    }

    .footer_copy {
        display: inline-block;
        margin-right: 0rem;
        width: 5%;
    }

    .footer_links_card {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .footer_links_card div {
        display: inline-block;
        margin-left: 0rem;
    }

    .touch_label {
        visibility: visible;
        font-size: 15px;
        margin-bottom: 1rem;
        padding: 0 1.5rem;
    }
}