.page_container {
    width: 90%;
    color: #1f553e;
    margin: auto;
    margin-top: 1rem;
    padding: 0rem;
}

.profile_card {
    margin: 1.5rem 1rem;
}

.name {
    padding-left: 1rem;
}
.web_title {
    margin: 1.5rem 0 1rem 0;
}
.web_title div {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.my_account{
    padding: 1rem 2rem;
}
.account_inputs div{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.my_account input {
    width: 100%;
    height: 2.5rem;
    padding: 2px 20px;
    border: 1px solid #1f553e;
    border-radius: 0.25rem;
}

.my_account input:focus {
    outline: none;
}
.account_container {
    display: flex;
    flex-direction: row;
}
.profile_img {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.webview_profileOptions {
    height: 100%;
}
.mbview_profileOptions {
    display: none;
}
.profile_container {
    width: 25%;
}
.change_password {
    width: 100%;
}
.mobile_display_faq {
    display: none;
}
.my_account .account_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.my_account .account_inputs {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 1rem;
}
.account_button button {
    width: 20%;
    height: 40px;
    background-color: #1f553e;
    color: white;
    margin-top: 1rem;
    height: 2.5rem;
    outline: none;
    border: 1px solid transparent;
    padding: 0 5px;
    border-radius: 0.25rem;
}
.account_button button:active {
    color: #1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.account_button button:focus{
    outline: none;
}
.mobile_profile_img {
    display: none;
}
.account_container .display_option {
    width: 100%;
    min-height: 80vh;
    border: 1px solid #1f553e;
    border-radius: 0.5rem;
}

.web_display_faq {
    margin-top: 2rem;
}

.web_display_faq div {
    margin: 1rem 0;
}

.outline {
    border: 1px solid #1f553e;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 720px) {
    .page_container {
        width: 100%;
        margin-top: 0rem;
        padding: 0;
    }
    .my_account{
        padding: 2rem;
    }
    .account_container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .webview_profileOptions {
        display: none;
    }

    .mobile_card {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
    }

    .mbview_profileOptions {
        width: 100%;
        display: flex;
    }

    .profile_img {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .profile_container {
        width: 100%;
    }

    .profile_container .outline {
        border: 0px solid #1f553e;
        border-radius: 0rem;
    }

    .my_account .account_button button {
        width: 100%;
    }

    .mobile_display_faq {
        display: flex;
    }

    .web_display_faq {
        display: none;
        margin-top: 2rem;
    }

    .my_account .account_inputs {
        width: 100%;
    }

    .my_account .account_details {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .web_profile_img {
        display: none;
    }

    .mobile_profile_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .account_container .display_option {
        border: 0px solid #1f553e;
    }

    .my_account .web_title {
        display: none;
    }

    .account_container .bck_page_icon {
        width: 10%;
        justify-content: flex-start;
    }

    .account_container a {
        color: #1f553e;
    }
}