.container_address{
    width: 70%;
}
.change_address_container{
  padding: .5rem 2rem;
}
.web_title{
  padding: 2.5rem 10% 1.5rem 10%;
}
.web_title div {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.address_card_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 1rem;
    margin: 1rem 0;
    border: 1px solid #1f553e;
    border-radius: 10px;
}

.address_information_card{
    width: 80%;
}
.edit_button{
    width: 10%;
}
.mobile_card{
  display: none;
}
.btn_div{
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.address_btn{
  position: absolute;
  top:.8rem;
  right: 12rem;
  width: 20%;
}

.address_btn button{
  margin-top: 1rem !important;
  width: 100%;
  height: 40px;
  border-radius: 3.25rem;
  outline: none;
  border: 1px solid transparent;
}

.address_btn button {
  background-color: #1f553e;
  color: white;
}
.address_btn button:focus{
  outline: none;
}
.address_btn button:active {
  color:#1f553e;
  background-color: #FFFFFF;
  border: 1px solid #1f553e;
}
@media only screen and (max-width: 720px) {
    .container_address{
        width: 100%;
    }
    .change_address_container{
      padding: .5rem 2rem;
    }
    .address_card_container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 5px 1rem;
      margin: 0rem 0;
      border-bottom: 1px solid #1f553e;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0px;
    }
    .address_card_container:first-child{
      border-top: 1px solid #1f553e;
    }
    .address_information_card{
      width: 80%;
    }
    .edit_button{
      width: 10%;
    }
    .web_title {
      display: none;
    }
    .bck_page_icon {
      width: 10%;
      justify-content: flex-start;
    }
    .mobile_card {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
  .address_btn{
    position: absolute;
    top:-.5rem;
    right: .5rem;
    width: 40%;
  }
}
  