.profile_outline hr {
    color: #1f553e;
}

.profile_options_web .option {
    padding: 1rem 0px;
    cursor: pointer;
    color: #1f553e !important;
    border-bottom: 1px solid #1f553e;
}

.profile_options_web .option:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.profile_options_web .option:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.link {
    color: #1f553e !important;
}

.nav .option:nth-last-child(2) {
    border-bottom: none;
}

.profile_option_container {
    width: 80%;
    height: 100%;
}

.profile_outline {
    border: 1px solid #1f553e;
    border-radius: 0.5rem;
    text-align: center;
    height: 80%;
}

.faq_option {
    display: none;
}

.account_container .web_title {
    text-align: center;
}

.active {
    background-color: #1f553e !important;
    color: #FFFFFF !important;
}
.profile_options_mobile{
    display: none;
}
@media only screen and (max-width: 720px) {
    .profile_option_container {
        width: 100%;
    }
    .profile_options_web{
        display: none;
    }
    .profile_outline {
        width: 100%;
        border-radius: 0px;
        border-top: 1px solid #1f553e;
        border-bottom: 1px solid #1f553e;
        border-right: none;
        border-left: none;
        text-align: left;
    }
    .nav_mobile_card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
    .profile_options_mobile{
        display: block;
    }
    .profile_options_mobile .option_mobile {
        padding: 1rem 0px;
        cursor: pointer;
        color: #1f553e !important;
        border-bottom: 1px solid #1f553e;
    }
    .faq_option {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 1rem 0px;
        cursor: pointer;
        color: #1f553e !important;
    }

    .profile_options .faq_option {
        cursor: pointer;
    }

    .account_container .web_title {
        display: none;
    }

    .nav .option {
        border-bottom: 1px solid #1f553e !important;
    }
}