.change_password_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.web_title {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}
.web_title div {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}   

.change_password {
    margin-top: 2rem;
    margin: auto;
}
.change_password_heading{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.input_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #1f553e;
    margin-bottom: 2rem;
    padding: 2px 20px;
}

.change_password input {
    width: 100%;
    height: 3rem;
    padding: 2px 20px;
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

.change_password input:focus {
    outline: none;
}

.verify_password button {
    height: 3rem;
    border-radius: 1.5rem;
}

.verify_password input {
    border-radius: 50%;
    width: 3em;
    height: 3rem;
}

.change_password_container {
    width: 40%;
}

.verify_password_container {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.change_password button {
    background-color: #1f553e !important;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 0.25rem;
    outline: none;
    border: 1px solid transparent;
    height: 3rem;
    border-radius: 1.5rem;
    margin: 1rem 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.change_password button:focus{
    outline: none;
}
  
.change_password button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.mobile_card{
    display: none;
}
@media only screen and (max-width: 720px) {
    .change_password_container {
        width: 80%;
    }
    .change_password_card {
        margin: .5rem 0;
    }
    .web_title{
        display: none;
    }
    .mobile_card {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .bck_page_icon {
        width: 10%;
        justify-content: flex-start;
    }
    .change_password button {
        height: 2.8rem;
        width: 100%;
    }

    .verify_password button {
        height: 2rem;
        width: 100%;
    }

    .change_password input {
        height: 2.5rem;
    }

    .verify_password_container {
        width: 80%;
    }
}