.address button {
    width: 50%;
}  
.checkout_page .cart_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.details_container{
  width: 60%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}
.outline{
  padding: 0 3rem;
  outline: 1px solid #1f553e;
  border-radius: 1rem;
}
.checkout_page .details {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.checkout_page .details > div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.price_container{
  width: 40%;
  padding: 0 3rem;
}
.return_btn button {
    color: #1f553e;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 40px;
    border: 1px solid #1f553e;
}
.shipping_btn button {
    border-radius: 1rem;
    height: 40px;
    color: #ffffff;
    background-color: #1f553e;
    border-radius: 1.5rem;
    border: 1px solid #1f553e;
    border-radius: 1.5rem;
    outline: none;
}
.shipping_btn {
    width: 45%;
}
.return_btn {
    width: 45%;
}
.return_btn button:active {
  color: #ffffff;
  background-color: #1f553e;
}
.shipping_btn button:active {
  color: #1f553e;
  background-color: #ffffff;
}
.checkout_web {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.address button {
  margin: 1rem;
  color: #ffffff;
  background-color: #1f553e;
  border-radius: 1.5rem;
  border: 1px solid #1f553e;
  border-radius: .625rem;
  width: 30%;
  height: 40px;
  outline: none;
}
.address button:active {
  color: #1f553e;
  background-color: #ffffff;
}
.address button:focus{
  outline: none;
}
.checkout_page .display_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}
.checkout_page .display_btns button {
    width: 100%;
}
  
@media only screen and (max-width: 720px) {
    .checkout_page .cart_container {
      flex-direction: column-reverse;
    }
    .checkout_page .details_container {
      width: 90%;
      margin: auto;
      padding: 0rem;
    }
    .checkout_page .details {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .checkout_page .details > div {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .checkout_page .display_btns {
      flex-direction: column-reverse;
      margin-top: 1rem;
      width: 100%;
    }
  
    .checkout_page .shipping_btn {
      width: 100%;
    }
    .checkout_page .return_btn {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
    }
    .details_container{
      width: 100%;
      padding: 0rem;
      display: flex;
      flex-direction: column;
    }
    .outline{
      padding: 0rem;
      outline: none;
      border-radius: 1rem;
    }
    .address button {
      margin-left: 0;
      width: 100%;
    }
    .price_container{
      display: none;
    }
}
  