.success_msg{
    padding-top: 3rem;
    width: 100%;
    height: 70vh;
    color: #1f553e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p_heading{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.625rem;
}
.p_message{
    width: 30%;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}
.btn{
    width: 20%;
}
.btn button {
    color: #ffffff;
    background-color: #1f553e;
    border-radius: 1.5rem;
    border: 1px solid #1f553e;
    border-radius: 0.625rem;
    width: 100%;
    height: 40px;
    outline: none;
}
.btn button:active {
    color: #1f553e;
    background-color: #ffffff;
}
.btn button:focus{
    outline: none;
}

@media only screen and (max-width: 720px) {
    .p_message{
        width: 80%;
    }
    .btn{
        width: 80%;
    }
}