.payment_option img {
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
}
.payment_paytm, .payment_payu{
    width: 80%;
}
.payment_paytm img, .payment_payu img {
    width: 4rem;
    height: auto;
}
.payment_row, .payment_payu_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.payment_row input, .payment_payu_row input{
    width: 2rem;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    padding-right: 1.25rem;
}

.payment_inner_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.payment_inner_row img{
    width: 5%;
    height: auto;
    margin: .1rem .3rem;
}
.payment_message{
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2rem;
    color: #1f553e;
}
.payment_page .payment_container {
    display: flex;
    flex-direction: row;
}
.buttons_webview {
    width: 100%;
}
.button_section {
    display: flex;
    flex-direction: row;
}
.label_white{
    color: #ACABAB;
} 
.payment_details {
    display: flex;
    flex-direction: row;
}
.shipping_display {
    width: 100%;
    margin-bottom: 1rem;
}
.shipping_card{
    padding: .5rem 3rem;
}

.row_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.hr{
    background-color: #1f553e;
    width: 100%;
}
.address_section .hr{
    background-color: #1f553e;
    width: 100%;
    margin: 0;
}
.change_link{
    text-decoration: underline;
}  
.p_value{
    color: #1f553e;
}
.details_container{
    width: 60%;
    padding: 0 3rem 1rem;
    display: flex;
    flex-direction: column;
}
.outline{
    padding: 0;
    outline: 1px solid #1f553e;
    border-radius: 1rem;
    margin-bottom: 1rem;
} 
.price_container{
    width: 40%;
    padding: 0 3rem;
}

.shipping_page .button_section {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.button_section .shipping_btn {
    width: 49%;
    margin: auto;
}
.button_section .return_btn {
    width: 49%;
    margin: auto;
}
.return_btn button {
    width: 100%;
    color: #1f553e;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 40px;
    border: 1px solid #1f553e;
}
.shipping_btn button {
    width: 100%;
    border-radius: 1rem;
    height: 40px;
    color: #ffffff;
    background-color: #1f553e;
    border-radius: 1rem;
    border: 1px solid #1f553e;
    outline: none;
    padding: 5px 7px;
}
.shipping_btn {
    width: 45%;
}
.return_btn {
    width: 45%;
}
.return_btn button:active {
  color: #ffffff;
  background-color: #1f553e;
}
.shipping_btn button:active {
  color: #1f553e;
  background-color: #ffffff;
}
.buttons_mobileview {
    display: none;
}
.address_section{
    padding: 2rem 0rem;
}
.address_section p {
    height: 1.5rem;
    padding: 1rem 0rem;
}
.address_row_container{
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 1.5rem;
}
.address_row_container input {
    padding-right: 1.25rem;
    width: 2rem;
    height: 1.5rem;
}
.address_row_container p {
    padding-left: 1.25rem;
    height: 2rem;
    margin-bottom: 0rem !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
@media only screen and (max-width: 720px) {
    .payment_page .payment_container {
       flex-direction: column-reverse;
    }
    .shipping_card{
        padding: .2rem 1rem;
    }
    .payment_details {
        flex-direction: column;
    }
    .details_container{
        width: 100%;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .price_container{
        display: none;
    }
    .outline{
        border-radius: .7rem;
    }
    .row_container{
        padding: .3rem 0rem;
    }
    .payment_message{
        width: 100%;
        font-size: .9rem;
        line-height: 1rem;
    }
    .address_section input {
      width: 15%;
      color: #1f553e;
    }
    .address_section p {
        height: auto;
        padding: 1rem 0rem;
    }
    .button_section {
      width: 100%;
      flex-direction: column;
    }
    .shipping_btn {
      width: 100% !important;
    }
    .hr{
        margin: .5rem 0;
    }
    .return_btn {
      width: 100% !important;
      margin-top: 1rem !important;
    }
    .payment_paytm img, .payment_payu img {
        width: 6rem;
    }
    .payment_inner_row, .payment_paytm, .payment_payu{
        padding: .3rem;
    }
    .payment_inner_row img{
        width: 15%;
        height: auto;
        margin: .1rem .3rem;
    }
}
  