.address_section input {
    width: 5%;
    color: #1f553e;
}
  
.shipping_page a {
    color: #1f553e;
    font-style: normal;
}
.details_container{
    width: 60%;
    padding: 0rem 3rem 1rem;
    display: flex;
    flex-direction: column;
}
.outline{
    padding: 0;
    outline: 1px solid #1f553e;
    border-radius: 1rem;
    margin-bottom: 1rem;
} 
.shipping_display {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.shipping_card{
    padding: .5rem 3rem;
}
.shipping_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.change_link{
    text-decoration: underline;
}  
.price_container{
    width: 40%;
    padding: 0 3rem;
}
.shipping_page .shipping_details {
    display: flex;
    flex-direction: row;
}
.label_white{
    color: #ACABAB;
} 

.shipping_method_card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .1rem;
    outline: 1px solid #1f553e;
    border-radius: .5rem;
    margin: 1rem 0;
}
.shipping_method_col{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.shipping_method_col div{
    padding: 0 .5rem;
}
.free_shipping{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.free{
    width: 50%;
    text-transform: uppercase !important;
    color: #1f553e;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.hr{
    background-color: #1f553e;
    width: 100%;
}
.button_section {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.button_section .shipping_btn {
    width: 49%;
    margin: auto;
}
.button_section .return_btn {
    width: 49%;
    margin: auto;
}
.return_btn button {
    width: 100%;
    color: #1f553e;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 40px;
    border: 1px solid #1f553e;
}
.shipping_btn button {
    width: 100%;
    border-radius: 1rem;
    height: 40px;
    color: #ffffff;
    background-color: #1f553e;
    border-radius: 1rem;
    border: 1px solid #1f553e;
    outline: none;
    padding: 5px 7px;
}
.shipping_btn {
    width: 45%;
}
.return_btn {
    width: 45%;
}
.return_btn button:active {
  color: #ffffff;
  background-color: #1f553e;
}
.shipping_btn button:active {
  color: #1f553e;
  background-color: #ffffff;
}
.buttons_mobileview {
    display: none;
}
@media only screen and (max-width: 720px) {
    .shipping_btn {
      width: 100% !important;
    }
    .details_container{
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
    }
    .price_container{
        display: none;
    }
    .shipping_card{
        padding: .2rem 1rem;
    }
    .return_btn {
      width: 100%!important;
      margin-top: 1rem !important;
    }
    .button_section {
      width: 100%;
      flex-direction: column;
    }
    .shipping_details {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0rem;
    } 
    .buttons_webview {
      display: none;
    }
    .buttons_mobileview {
      display: flex;
    }
    .price_container {
      margin-top: 1rem;
    }
    .shipping_display {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .shipping_method_col{
        width: 50%;
    }
    .free{
        position: absolute;
        right: 1rem;
    }
}
  