.order_container{
    border-bottom: 2rem;
    margin: auto;
    width: 90%;
    color: #1f553e;     
    margin-top: 1rem;
    padding: 0rem;
}
.order_row_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mobileUicard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.order_container .delivery_address {
    width: 49%;
    border: 1px solid #1f553e;
    border-radius: 0.625rem; 
    margin-top: 1rem;   
    padding: 1rem 1.5rem;
}
.order_container .title {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.left_arrow{
    display: none;
}
.order_details{
    border: 1px solid #1f553e;
    border-radius: 0.625rem;
}
.order_card{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.order_details .outline {
    margin-top: 2rem;
}
  
.order_details .product_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-top: 1rem;
}
.order_more_action_btn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order_more_action_btn button{
    width: 50%;
    background-color: #1f553e;
    color: white;
    height: 40px;
    border-radius: 3.25rem;
    outline: none;
    border: 1px solid transparent;
}
.order_details button {
    width: 100%;
    background-color: #1f553e;
    color: white;
    height: 40px;
    border-radius: 1.5rem;
    outline: none;
    border: 1px solid transparent;
}
.order_more_action_btn button:active, .order_details button:active {
    color:#1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.order_more_action_btn button:focus,  .order_details button:focus{
    outline: none;
}

.order_details .buttons {
    width: 50%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.help_btn{
    width: 33%;
    margin-left: 1.5rem;
}
.order_details .status {
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    margin-right: 1rem;
}
.order_details .buttons_mobile {
    display: none;
}
.order_details .display_msg {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.order_details .product_image img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
}
.order_details .product_image {
    width: 20%;
    min-height: 10rem;
    height: 7rem;
    margin: 1rem;
}
.product_name{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.product_seller_name{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 1rem;
}

.order_details a {
    color: white;
}
.order_details .product_details_price {
    width: 20%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.product_details_price_mobile{
    display: none;
}
.display_hr {
    display: none;
}
.order_m_b{
    margin-bottom: 1rem;
}
@media only screen and (max-width: 720px) {
    .order_container .delivery_address {
      display: none;
    }
    .order_m_b{
        margin-bottom: 0;
    }
    .display_hr {
        border: 1px solid #1f553e;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem !important;
    }
    .hr{
        display: none;
    }
    .order_details .status {
        margin-bottom: 0rem;
    }
    .order_details .display_msg {
        margin-top: 0rem;
    }
    .order_details{
        border: none;
        border-radius: 0.5rem;
    }
    .left_arrow{
        margin-right: 1rem;
        display: block;
    }
    .order_details .buttons {
      display: none;
    }
    .order_details .buttons_mobile {
      width: 40%;
      display: flex;
    }
    .order_details button {
      width: 90%;
    }
    .order_details .product_details_price {
        display: none;
    }
    .product_details_price_mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        border-top: 1px solid #acabab;
        border-bottom: 1px solid #acabab;
        padding: .5rem 0;
    }
    .order_details .product_details {
      width: 30%;
    }
    .order_details .product_image img {
        width: 100%;
        height: 5rem;
        object-fit: cover;
        border-radius: 1rem;
    }
    .order_details .product_image {
        width: 30%;
        min-height: 5rem;
        height: 5rem;
        padding: .3rem;
        margin: 0;
        margin-bottom: .5rem;
    }
    .order_card{
        width: 100%;
        justify-content: space-between;
        padding: 0 2rem;
        margin-top: 0;
    }
    .order_card .product_image{
        width: 30%;
    }
    .order_card .product_details{
        width: 70%;
        margin-top: 0rem;
        align-items: flex-start;
    }
    .order_card :nth-child(1) { order: 2; }
    .order_card :nth-child(2) { order: 1; }
}
