.main_container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.page_container{
    width: 90%;
    color: #1f553e;
    margin: auto;
    margin-top: 2rem;
    padding: 0rem;
}
.header_card{
    display: flex;
    flex-direction: row;
    align-items: center;       
}
.left_arrow{
    display: none;
}
.success_msg {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.success_line{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.btn{
    width: 100%;
}
.btn button {
    width: 20%;
    height: 40px;
    background-color: #1f553e;
    color: white;
    margin-top: 1rem;
    height: 2.5rem;
    outline: none;
    border: 1px solid transparent;
    padding: 0 2.5rem;
    border-radius: 1rem;
}

.btn button:active {
    color: #1f553e;
    background-color: #FFFFFF;
    border: 1px solid #1f553e;
}
.btn button:focus{
    outline: none;
}
.orders_card {
    width: 100%;
}
.orders_Ocard .price {
    font-size: 14px;
    width: 30%;
}
.my_orders_section .display_hr {
    display: none;
}
.my_orders_section{
    margin-top: 1rem;   
}

@media only screen and (max-width: 720px) {
    .page_container{
        width: 100%;
        margin: auto;
    }
    .page_container hr{
        margin-bottom: 0;
    }
    .orders_page button {
        width: 100%;
    }
    .left_arrow{
        margin-right: 1rem;
        display: block;
    }
    .my_orders_section .display_hr {
        border: 1px solid #1f553e;
        display: flex;
        flex-direction: column;
    }
}
  