.orders_card .product_image {
    width: 20%;
    min-height: 9rem;
    padding: .5rem;
}
.orders_card .product_image img {
    width: 15rem;
    height: 9rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: .625rem;
}
  
.orders_card {
    cursor: pointer;
    border: 1px solid #1f553e;
    border-radius: .625rem;
    margin: 1rem 0;
}
.seller_card{
    margin: .5rem 0;
}
.product_name{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.seller{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.seller_card .shop_name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.status_name{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: .2rem;
}
.status_description{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}
.orders_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.orders_card .product_details {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 75%;
    display: flex;
    flex-direction: row;
}
.orders_card .order_name {
    width: 33%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    padding: 0 1rem;
}
.orders_card .price {
    width: 33%;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1F553E;
}
.orders_card .status {
    width: 33%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1F553E;
}
.refund_section .outline {
    border: 1px solid #c4c4c4;
    border-radius: .625rem;
    margin: 1rem;
    padding: 1rem;
}
.refund_section .comments_card{
    display: flex;
    flex-direction: row;
} 
.refund_section .status {
    width: fit-content;
    color: #26a541;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    margin-left: 1rem;
}
.refund_section .id {
    color: #acabab;
    margin-left: 1rem;
    font-size: 12px;
}
.refund_section .comments {
    font-size: 12px;
    margin-left: 1rem;
    width: 50%;
    flex-wrap: wrap;
}
.orders_card .seller {
    margin-top: 1rem;
}
.right_arrow_card{
    display: none;
} 
@media only screen and (max-width: 720px) {
    .orders_card .product_image {
        width: 40%;
        min-height: 8rem;
        padding: .5rem;
    }
    .orders_card {
        border-top: 1px solid #1f553e;
        border: none;
        border-radius: 0rem;
    }
    .orders_card {
        border-bottom: 1px solid #1f553e;
    }
    .orders_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    .orders_card .product_image img {
        width: 100%;
        height: 7rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1rem;
    }

    .orders_card .product_details {
      display: flex;
      flex-direction: column;
      width: 55%;
      margin-top: .5rem;
      margin-left: .5rem;
    }
    .orders_card .order_name {
      width: 100%;
    }
    .orders_card .status {
      width: 100%;
      font-size: 12px;
    }
    .orders_card .seller {
      margin-top: 0rem;
      font-size: 14px;
    }
    .orders_card .price {
      font-size: 12px;
      display: none;
    }
    .right_arrow_card{
        display: block;
        width: 5%;
    }
    .refund_section .comments {
      font-size: 10px;
      width: 100%;
      word-wrap: break-word;
      margin-left: 0rem;
    }
    .refund_section .comments_card{
        display: flex;
        flex-direction: column;
    } 
    
    .refund_section .status {
      font-size: 14px;
      margin-left: 0rem;
    }
    .refund_section .id {
      color: #acabab;
      margin-left: 0rem;
    }
}
  