.my_wishlist .product_details {
    margin: 1rem 1.5rem;
    width: 100%;
}
.web_title{
    padding: 2.5rem 10% 1.5rem 10%;
}
.web_title div {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
} 
.my_wishlist button {
    color: #1f553e;
    background-color: white;
    border-radius: 1rem;
}
.delete_btn{
    cursor: pointer;
}
.my_wishlist .product_image img {
    height: 8rem;
    width: 8rem;
    border-radius: 10px;
    border: 1px solid #D3D0D0;
    object-fit: cover;
}
.my_wishlist .product_image {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1.2rem
}
.product_title_card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_old_price {
    color: #c4c4c4;
    margin-left: 2rem;
}
.card_discount_web {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #26a541;
    margin-left: 2rem;
}
.card_discount_mobile{
    display: none;
}
.my_wishlist {
    width: 70%;
    border: 1px solid #1f553e;
    border-radius: 10px;
    margin: 1rem 0;
}
.margin_top{
    margin-top: .5rem;
}
.shop_name{
    margin-top: .5rem;
    font-family: 'Roboto';
    font-weight: 300;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.card{
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
}
.card_btns{
    display: flex;
    flex-direction: row;
}
.card_btns button {
    text-align: center;
    background-color: #ffffff;
    color: #1f553e;
    height: 2rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1%;
    flex-direction: row;
    border: 1px solid #769486;
    border-radius: 40px;
    cursor: pointer;
}
.mobile_card{
    display: none;
}
@media only screen and (max-width: 720px) {
    .my_wishlist {
      width: 100%;
      border-top: 1px solid #1f553e;
      border-bottom: 1px solid #1f553e;
      border-left: none;
      border-right: none;
      border-radius: 0px;
    }
    .mobile_card {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .web_title{
        display: none;
    }
    .bck_page_icon {
        width: 10%;
        justify-content: flex-start;
    }
    .my_wishlist .product_image {
      width: 40%;
      padding: .5rem;
    }
    .my_wishlist .product_image img {
        width: 100%;
        height: 8rem;
    }
    .my_wishlist .product_details {
      width: 60%;
      margin: 0.5rem 0.5rem;
    }
    .card_btns button {
        width: 50%;
        height: 24px;
    }
    .product_old_price {
        margin-left: 1rem;
    }
    .card_discount_web{
        display: none;
    }
    .card_discount_mobile {
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        color: #26a541;
    }
}
  