.categories_page .title_section {
    width: 100%;
    text-align: center;
    color: #1f553e;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

.page_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 5%;
}

.category_card {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.category_image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_image img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.category_image img:hover, .category_image_home img:hover {
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(26, 25, 26, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(26, 25, 26, 1);
    box-shadow: 0px 0px 5px 0px rgba(26, 25, 26, 1);
    transition: box-shadow .5s;
    background-color: antiquewhite;
}

.category_name_home {
    padding: .4rem;
}
.heading_home{
    width: 100%;
    padding: 3rem;
}
.categories_home {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.category_card_home {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: calc(100% / 6);
    margin-top: 1rem;
}
.category_image_home{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 5px;
}
.category_image_home img{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
@media only screen and (max-width: 720px) {
    .categories_page .title_section {
        display: none;
    }

    .page_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
    }

    .category_card {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        align-items: center;
        padding: .2rem;
        border: 0.5px solid #1f553e;
        border-radius: 1rem;
        margin: .5rem 0;
    }
    .category_card:hover {
        border: 2px solid #1f553e;
    }
    .category_card div{
        color: #1f553e;
    }
    .category_image {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }
    .category_image img {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1rem;
    }
    .category_image img:hover {
        border: none;
        box-shadow: none;
    }
    .categories_home {
        justify-content: center;
    }
    .category_card_home {
        width: calc(100% / 3);
    }
    .category_image_home img{
        width: 6rem;
        height: 6rem;
    }
    .category_name_home{
        display: block;
        text-align: center;
        color: #1f553e;
    }
    .heading_home{
        margin: 0rem;
        padding: 1rem;
    }
}