.cover_image {
    position: relative;
    width: 100%;
    height: 290px;
    overflow: hidden;
    background: rgb(12, 49, 13);
}
  
.cover_image img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    opacity: 0.5;
}
.category_name{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    margin-left: 5rem;
}
.home_section .products_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 0 3rem;
    gap: 3rem 0;
}
.product_length{
    display: none;
}
@media only screen and (max-width: 720px) {
    .cover_image {
        width: 100%;
        height: 260px;
        overflow: hidden;
    }
    .cover_image img {
      max-width: 100%;
    }
    .category_name{
        font-size: 1.9rem;
        text-transform: uppercase;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        height: fit-content;
        margin-left: 1rem;
        font-weight: 600;
    }
    .product_length{
        display: block;
        margin: 1rem;
        color: #1f553e;
    }
    .home_section .products_section {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: 1rem;
      padding: 0 0rem;
      gap: 0 0;
    }
    
}
  