.main_container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.page_container {
    width: 90%;
    color: #1f553e;
    margin: auto;
}
.outline {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #1f553e;
    border-radius: 0.25rem;
}
.welcome_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}
  
.welcome_logo {
    width: 400px;
    height: 400px;
}

.line_container{
    position: relative;
}

.line_container div{
    width: 1px;
    border-right: 1px solid;
    height: 35rem;
}
.btn{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1f553e;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    outline:none;
    border:none;
}
.btn:hover {
    color: #ffffff;
}
.btn:active{
    background-color: #ffffff;
    color: #1f553e;
    border: 0.5px solid #1f553e;
}
.btn:disabled{
    background-color: #1f553e;
    opacity: 0.5;
}

.signin_form .input {
    border-width: 0px;
    border: none;
    border-bottom: 1px solid #1f553e;
    margin-top: .8rem;
    width: 100%;
}
.signin_form input:focus{
    outline: none;
}
.signin_form input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #C4C4C4;
}
.signin_form{
    padding: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
}
.signin_form_card{
    width: 80%; 
}
.signin_form .mobile_container{
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
}

.mobile_container input{
    position: absolute;
    right: 0px;
    top:0px;
    border: none;
    border-radius: 5px;
    width: 90%;
    padding-top: 5px;
}
.mobile_container input:focus{
    outline: none;
}
.label_urban {
    width: 100%;
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label_urban label {
    padding: 0 10px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.label_urban hr {
    border-top: 0.1px solid #1f553e;
    width: 15%;
    padding-left: 5px;
    padding-top: 5px;
}

.signin_form button {
    border-radius: 50px;
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    outline:none;
    border:none;
}
.signin_form button:active{
    background-color: #ffffff;
    color: #1f553e;
    border: 1px solid #1f553e;
}
.verify{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
}
.forget{
    height: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.change_password h3{
    margin-bottom: 2.5rem;
}
.forget_title{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.change_password input{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: .5rem;
    padding-right: .5rem;
}
.change_password input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    padding-left: .5rem;
    padding-right: .5rem;
}
.google_sign_btn {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
    border: 1px solid #1976d2;
    border-radius: 5px;
}
  
.google_sign_btn button {
    background-color: #1976d2;
    height: auto;
    color: #ffff;
    width: 75%;
    margin-top: 0;
    border-radius: 0;
    outline:none;
    border:none;
}
.google_sign_btn button:focus {
    outline:none;
    border:none;
}
.google_sign_btn button:active{
    background-color: #ffffff;
    color: #1976d2;
    border: 1px solid #1976d2;
}
.google_sign_btn a {
    text-decoration: none;
}
.google_img {
    width: 25%;
    height: 2rem;
    text-align: center;
    padding: 1px;
}
  
.new_account{
    color: #1f553e;
    background-color: white;
    border-radius: 5px !important;
    border: 1px solid #1f553e !important;
    height: 2rem !important;
}
.new_account:active{
    background-color: #1f553e !important;
    color: #ffffff !important;
    border: 1px solid #ffff !important;
}
  
.search_bar {
    visibility: hidden;
}
.or{
    width: 100%;
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.or label{
    padding: 0 10px;
    height: 18px;
}
.or hr {
    border-top: 0.1px solid #1f553e;
    width: 43%;
    padding-left: 5px;
    padding-top: 5px;
}
.margin_top{
    margin-top: 1rem;
}
.margin_top_2{
    margin-top: 2rem !important;
}
.width{
    width: 100% !important;
}
.change_password input {
    width: 100%;
    border-radius: 0.5rem;
    height: 3rem;
    border: 1px solid #1f553e;
}
.welcome_heading{
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    padding-bottom: 40px;
    text-transform: capitalize;
}
@media only screen and (max-width: 720px) {
    .search_bar {
      visibility: visible;
      width: 100%;
    }
    .signin_form_card{
        width: 100%; 
    }
    .or{
      width: 100%;
    }
    .welcome_container {
      display: none;
    }
    .signin_form .mobile_container{
      width: 100%;
    }
    .mobile_container input{
      width: 90%;
    }
    .btn{
      width: 100%;
    }
    .signin_form {
        padding: 10px;
        width: 100%;
    }
    .signin_form button {
      width: 100%;
    }
    .signin_form .input {
      width: 100%;
    }
    .outline {
        border: none !important;
        min-height: 100%;
    }
    .google_sign_btn {
      width: 100%;
      border-radius: 0.5rem;
      margin-top: 1rem;
    }
  
    .google_sign_btn button {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    .new_account button {
      border-radius: 0.5rem;
      height: 2rem;
    }
    .label_urban {
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 1rem;
    }
    .line_container{
      display: none;
    }
    .label_urban hr {
      visibility: visible;
      width: 10%;
    }
}
  