.dropdown_container{
    position: absolute;
    top: 24px;
    left: 0;
    width: 350px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown_card{
    display: flex;
    flex-direction: column;
    padding: .8rem .3rem;
}
.dropdown_item{
    width: 100%;
    height: 30px;
    background: #E8E7E7;
    border-radius: 10px;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    place-items: center;
    text-align: center;
}
.dropdown_heading{
    font-style: normal;
    font-weight: 700;
    color: #1F553E;
}
.dropdown_text{
    color: #000000;
    padding-left: 5px;
}
.dropdown_icon{
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 720px) {
    .dropdown_container{
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
    }
}