.wrapper{
    position: relative;
    width: 100%;
    height: 100%; 
}
.slider_web_view{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.thumbnail_wrapper{
    width: 15%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
}

.thumbnail_wrapper_home{
    width: 20%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-color: none;
}
.thumbnail_wrapper_home::-webkit-scrollbar {
    display: none;
}
.thumbnail_wrapper::-webkit-scrollbar {
    display: none;
}
.thumbnail_home_image{
    width: 105px !important;
    height: 75px !important; 
    border: 1px solid #C4C4C4;
    margin: .3rem 0;
}
.thumbnail_home_image img{
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid #C4C4C4;
}
.thumbnail_image{
    width: 50px;
    height: auto;
    margin: .3rem 0;
    border: none;
}
.thumbnail_image img{
    width: 50px;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid #1f553e;
}
.preview_image{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.preview_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 0rem;
    border: 1px solid #1f553e;
    border-radius: .625rem;
}
.preview_image_home{
    position: relative;
    width: 60%;
    height: 30rem;
    overflow: hidden;
    border: 1px solid #C4C4C4;
}
.preview_image_home img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.active{
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(209,122,46,1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(209,122,46,1);
    box-shadow: 0px 0px 2px 2px rgba(209,122,46,1);
}
.slider_mobile_view{
    display: none;
}
@media only screen and (max-width: 720px) {
    .slider_web_view{
        display: none;
    }
    .slider_mobile_view{
        display: block;
    }
    .slideshow {
        margin: 0 auto;
        overflow: hidden;
        max-width: 500px;
    }
  
    .slideshowSlider {
        white-space: nowrap;
        transition: all 1500ms;
    }
  
    .slide {
        display: inline-block;
        height: 25rem;
        width: 100%;
        border-radius: 40px;
    }
    .slide img{
        width: 100%;
        height: 25rem !important;
        object-fit: contain;
    }
    .slideshowDots {
        text-align: center;
    }
  
    .slideshowDot {
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        cursor: pointer;
        margin: 15px 7px 0px;
        background-color: #c4c4c4;
    }
}