.mobile_menu_options {
    width: 100%;
    position: absolute;
    background: #FFFFFF;
    z-index: 11;
}

.mobile_option {
    display: flex;
    flex-direction: row;
    background-color: #dae6df;
    height: 3rem;
    margin-top: 0.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    text-decoration: none;
    color: #1f553e;
    z-index: 11;
}

a:hover {
    text-decoration: none;
    color: #1f553e;
}

.width {
    width: 80%;
}